wcf/WcfClient/WcfClient/Connected Services/ServiceReference2/MyCalculator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyCalculator" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ICalculator_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.182.101.87:1000/MyCalculator?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.182.101.87:1000/MyCalculator?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.182.101.87:1000/MyCalculator?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalculator_iAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:iAdd" />
  </wsdl:message>
  <wsdl:message name="ICalculator_iAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:iAddResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_iSub_InputMessage">
    <wsdl:part name="parameters" element="tns:iSub" />
  </wsdl:message>
  <wsdl:message name="ICalculator_iSub_OutputMessage">
    <wsdl:part name="parameters" element="tns:iSubResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_iMul_InputMessage">
    <wsdl:part name="parameters" element="tns:iMul" />
  </wsdl:message>
  <wsdl:message name="ICalculator_iMul_OutputMessage">
    <wsdl:part name="parameters" element="tns:iMulResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_iDiv_InputMessage">
    <wsdl:part name="parameters" element="tns:iDiv" />
  </wsdl:message>
  <wsdl:message name="ICalculator_iDiv_OutputMessage">
    <wsdl:part name="parameters" element="tns:iDivResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_iMod_InputMessage">
    <wsdl:part name="parameters" element="tns:iMod" />
  </wsdl:message>
  <wsdl:message name="ICalculator_iMod_OutputMessage">
    <wsdl:part name="parameters" element="tns:iModResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_iBiggestPrime_InputMessage">
    <wsdl:part name="parameters" element="tns:iBiggestPrime" />
  </wsdl:message>
  <wsdl:message name="ICalculator_iBiggestPrime_OutputMessage">
    <wsdl:part name="parameters" element="tns:iBiggestPrimeResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalculator">
    <wsdl:operation name="iAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/iAdd" message="tns:ICalculator_iAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/iAddResponse" message="tns:ICalculator_iAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="iSub">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/iSub" message="tns:ICalculator_iSub_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/iSubResponse" message="tns:ICalculator_iSub_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="iMul">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/iMul" message="tns:ICalculator_iMul_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/iMulResponse" message="tns:ICalculator_iMul_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="iDiv">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/iDiv" message="tns:ICalculator_iDiv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/iDivResponse" message="tns:ICalculator_iDiv_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="iMod">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/iMod" message="tns:ICalculator_iMod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/iModResponse" message="tns:ICalculator_iMod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="iBiggestPrime">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/iBiggestPrime" message="tns:ICalculator_iBiggestPrime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/iBiggestPrimeResponse" message="tns:ICalculator_iBiggestPrime_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICalculator" type="tns:ICalculator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="iAdd">
      <soap:operation soapAction="http://tempuri.org/ICalculator/iAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="iSub">
      <soap:operation soapAction="http://tempuri.org/ICalculator/iSub" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="iMul">
      <soap:operation soapAction="http://tempuri.org/ICalculator/iMul" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="iDiv">
      <soap:operation soapAction="http://tempuri.org/ICalculator/iDiv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="iMod">
      <soap:operation soapAction="http://tempuri.org/ICalculator/iMod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="iBiggestPrime">
      <soap:operation soapAction="http://tempuri.org/ICalculator/iBiggestPrime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSHttpBinding_ICalculator" type="tns:ICalculator">
    <wsp:PolicyReference URI="#WSHttpBinding_ICalculator_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="iAdd">
      <soap12:operation soapAction="http://tempuri.org/ICalculator/iAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="iSub">
      <soap12:operation soapAction="http://tempuri.org/ICalculator/iSub" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="iMul">
      <soap12:operation soapAction="http://tempuri.org/ICalculator/iMul" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="iDiv">
      <soap12:operation soapAction="http://tempuri.org/ICalculator/iDiv" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="iMod">
      <soap12:operation soapAction="http://tempuri.org/ICalculator/iMod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="iBiggestPrime">
      <soap12:operation soapAction="http://tempuri.org/ICalculator/iBiggestPrime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyCalculator">
    <wsdl:port name="BasicHttpBinding_ICalculator" binding="tns:BasicHttpBinding_ICalculator">
      <soap:address location="http://10.182.101.87:1000/MyCalculator/endpoint1" />
    </wsdl:port>
    <wsdl:port name="WSHttpBinding_ICalculator" binding="tns:WSHttpBinding_ICalculator">
      <soap12:address location="http://10.182.101.87:1000/MyCalculator/endpoint2" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://10.182.101.87:1000/MyCalculator/endpoint2</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>